@import "color";

@mixin styleform{
    border: 2px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 15px;
    width: 80%;
    margin: auto;
}

.search{
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 4px;
    width: 40vw;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 35px;
    outline: none;
    &:focus{
        transition: linear .5s;
        border: 1px solid $color-primary;
    }
}
