@import "button", "color", "form", "layout";
* {
  margin: 0;
  box-sizing: border-box;
}

.layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.container {
  width: 90vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
  align-items: center;
  
  .logo {
    color: $color-primary;
  }

  form {
    i {
      position: absolute;
      padding: 10px;
      color: rgba(0, 0, 0, 0.2);
    }
  }
  .button-sign {
    a {
      text-decoration: none;
      font-weight: bold;
      color: $color-primary;
    }
  }
}
.bg-nav {
  // position: fixed;
  background-color: white;
  // width: 100vw;
  color: black;
  height: 75px;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.5);
  .button-sign {
    text-align: center;
  }
}

.bg-footer {
  background-color: black;
  // width: 100vw;
  // height: 400px;
  color: white;
}

.container-footer {
  width: 90vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .content {
    padding: 50px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .about {
      flex: 4;

      .logo {
        padding-bottom: 20px;
        color: $color-primary;
      }
      p {
        line-height: 30px;
        text-align: justify;
        width: 425px;
      }
    }
    .menu {
      flex: 3;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-left: 100px;
      h3 {
        padding-bottom: 10px;
      }
      p {
        width: 80px;
        line-height: 30px;
        &:hover {
          color: $color-primary;
          cursor: pointer;
        }
      }
    }
    .link {
      flex: 3;
      .badge {
        img {
          margin-left: -10px;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
    .sosmed {
      h3 {
        padding-bottom: 10px;
      }
      i {
        margin-right: 5px;
        &:hover {
          transition: ease 0.5s;
          color: $color-primary;
          cursor: pointer;
        }
      }
    }
  }
  .copyright {
    padding: 20px;
    text-align: center;
  }
}

// Main Content
.content {
  width: 90vw;
  margin: auto;
  .title {
    color: grey;
    margin-bottom: 20px;
  }
  padding: 50px 0px;
  .list-category {
    button {
      border: none;
      padding: 15px;
      margin-right: 4px;
      &:hover {
        cursor: pointer;
        background-color: $color-primary;
        color: white;
      }
    }
  }
  .list-movie {
    padding-top:30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .list {
      // width: 200px;
      flex: 0 0 10%;
      margin: 5px;
      padding-bottom: 20px;
    border: 1px solid whitesmoke;
      &:hover{
        cursor: pointer;
        border-bottom: 1px solid $color-primary;
        background-color: $color-primary;
        color: white;
      }
      .image-movie {
          width: 200px;
      }
      .title-movie{
        font-weight: 600;
        padding-left: 5px;
      }
      .category-movie{
        font-size: smaller;
    padding-top: 5px;
    padding-left: 5px;
      }
    }
  }
}


.pagination{
  width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: -30px;
    padding-bottom: 30px;

    .number-page{
      font-weight: bold;
      padding: 15px;
      &:hover{
        
        cursor: pointer;
        background-color: $color-primary;
        color: white;
      }
    }

    i{
      &:hover{
        cursor: pointer;
        color:$color-primary;
      }
    }
}

.bg-image{
  .img-bg{
    width: 100%;
    height: 400px;
  }
}



